#text{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#card{
box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.29);
-webkit-box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.29);
-moz-box-shadow: 0px 0px 41px -11px rgba(0,0,0,0.29);
}

#containerGrid {
  display: grid;
  gap: 2rem;
  padding: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#card {
  position: relative; /* Necesario para posicionar ::before dentro */
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
  overflow: hidden; /* Esto es clave para cortar el círculo */
}


#card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 16px; /* puedes ajustar el grosor */
  width: 100%;
  background-color: #5ebcff; /* azul fuerte */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


#card:hover {
  transform: scale(1.02);
}

