@media (max-width:800px)and (max-width: 1200px){
    section{
    margin-left: 1vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    row-gap: calc(var(--spacing)*3);
    margin-top: calc(var(--spacing)*5);
    }

    #card1,#card2,#card3,#card4 {
    width: calc(var(--spacing) *44);
    height: 15.4vh;
    border-radius: var(--radius-2xl);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing)*3);
    }

    /*TABLA*/
}

#text{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#card1,#card2,#card3,#card4{
-webkit-box-shadow: 0px 0px 13px -8px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 13px -8px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 13px -8px rgba(66, 68, 90, 1);
}

#card1{
  animation: zoomBounce 0.4s ease-in-out 0.3s forwards;
  opacity: 0;
}

#card2{
  animation: zoomBounce 0.4s ease-in-out 0.4s forwards;
  opacity: 0;
}

#card3{
  animation: zoomBounce 0.4s ease-in-out 0.5s forwards;
  opacity: 0;
}
#card4{
  animation: zoomBounce 0.4s ease-in-out 0.6s forwards;
  opacity: 0;
}

/*ANIMACIONES DE ENTRADA*/
@keyframes zoomBounce {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  80% {
    transform: scale(0.95);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


#littleCard1{
  animation: litleCard 0.4s ease-in-out 0.5s forwards;
  opacity: 0;
}

#littleCard2{
  animation: litleCard 0.4s ease-in-out 0.5s forwards;
  opacity: 0;
}

#littleCard3{
  animation: litleCard 0.4s ease-in-out 0.5s forwards;
  opacity: 0;
}

@keyframes litleCard {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  80% {
    transform: scale(0.95);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 1;
  }
}

#title1{
  animation: title 0.4s ease-in-out 0.5s forwards;
  opacity: 0;
  margin-right: 20vh;
}

#title2{
  animation: title 0.4s ease-in-out 0.6s forwards;
  opacity: 0;
  margin-right: 20vh;
}

#title3{
  animation: title 0.4s ease-in-out 0.8s forwards;
  opacity: 0;
  margin-right: 20vh;
}



@keyframes title{
  from{
    margin-left: 20vh;
  }to{
    margin-right: 3px;
    opacity: 1;
  }
}

#tablet {
  animation: fadeUp 0.7s ease-out 0.8s forwards;
  opacity: 0;
  transform: translateY(40px); /* posición inicial más baja */
  transition: all 0.3s ease-in-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
